html {
    scroll-behavior: smooth;
    scroll-padding-top: 88px
}

body {
    background-color: #fff;
    color: rgb(68,60,31);
    font-family: "Zen Old Mincho", serif;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1.4;
    line-height: 2;
    margin: 0
}

/* headerの基本設定 */
header {
    height: 80px;
    position: fixed;
    width: 100%;
    z-index: 2;
    background-color: transparent; /* 本体は常に透明 */
}

/* 背景画像専用のレイヤー（常にここに画像を持たせる） */
header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/bg_pc\ 1.png);
    background-size: cover;
    background-position: center;
    
    /* 出現・消失の両方に効くアニメーション設定 */
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: -1; 
}

/* スクロール時に JS で付与されるクラス */
header.scrolled::before {
    opacity: 0.8; /* ここでふわっと出現させる */
}

main {
    border: 95px solid;
    border-image: radial-gradient(#fff 0%, #f4e7bc 70%, #f4e7bc 100%) 49%;
    display: flow-root;
    margin-top: -1px; /* 上の要素と1px重ねる */

}

.maincontents{
    margin: 0 auto;
    padding: 0 80px;
    max-width: 800px;
}

section {
    margin: 96px 0
}

h2 {
    font-size: 24px;
    font-weight: bold;
}

h3 {
    font-size: 14px;
    font-weight: bold;
    margin-block-end: 0
}

span {
    display: inline-block;
    margin-right: 1em
}

ul {
    list-style-type: none;
    margin-block-end: 0;
    margin-block-start: 0;
    padding: 0
}

footer {
    background-color: #f4e7bc;
    color: #443c24;
    height: 256px;
    text-align: center;
    width: 100%;
    z-index: 1
}

@media screen and (max-width:750px) {
    html {
        scroll-padding-top: 58px
    }

    header {
        height: 52px
    }

    body{
        font-size: 10px;
    }

    h2{
        font-size: 14px;
        font-weight: bold;
    }
    h3{
        font-size: 12px;
        font-weight: bold;
    }
    section {
    margin: 48px 0
}

    nav {
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        background-color: rgba(244, 231, 188, .3);
        opacity: 0;
        padding: 16px;
        top: 0;
        transform: translateY(-100%);
        transition: all .5s ease;
        width: 100%
    }

    main {
        padding: 0 16px;
        margin-top: -2px; /* 上の要素と1px重ねる */
        border-image: radial-gradient(#fff 0%, #fff 40%, #f4e7bc 70%, #f4e7bc 100%) 49%;
    }
    .maincontents {
        /* スマホのボーダー幅に合わせてネガティブマージンを調整 */
        margin-left: -100px;
        margin-right: -100px;
        padding: 0 10px;
    }
}
